# -----------------------------------------------------------------------------
# Copyright 2026-present Suryansh Singh
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# -----------------------------------------------------------------------------
# @path [ROOT]/.github/dependabot.yaml
# @file dependabot.yaml
# @brief Dependabot configuration file.
#
# @author thedevmystic (Surya) <thedevmystic@gmail.com>
# @copyright 2026-present Suryansh Singh Apache-2.0 License
#
# SPDX-FileCopyrightText: 2026-present Suryansh Singh
# SPDX-License-Identifier: Apache-2.0
# -----------------------------------------------------------------------------

version: 2
updates:
  # Maintain Git Submodules
  - package-ecosystem: "gitsubmodule"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
    open-pull-requests-limit: 5
    groups:
      git-submodules-dependencies:
        patterns:
          - "*"
    labels:
      - "dependencies"
    commit-message:
      prefix: "fix(deps)"
      include: "scope"
    reviewers:
      - "thedevmystic"

  # Maintain GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "monthly"
      day: "sunday"
    open-pull-requests-limit: 5
    groups:
      github-actions-dependencies:
        patterns:
          - "*"
    labels:
      - "dependencies"
    commit-message:
      prefix: "fix(deps)"
      include: "scope"
    reviewers:
      - "thedevmystic"

  # Maintain NPM
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
    open-pull-requests-limit: 5
    groups:
      npm-dependencies:
        applies-to: version-updates
        patterns:
          - "*"
    labels: 
      - "dependencies"
    commit-message:
      prefix: "fix(deps)"
      include: "scope"
    reviewers:
      - "thedevmystic"
