# -----------------------------------------------------------------------------
# Copyright 2026-present Suryansh Singh
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# -----------------------------------------------------------------------------
# @path [ROOT]/.pre-commit-config.yaml
# @file .pre-commit-config.yaml
# @brief Pre commit configuration file.
#
# @author thedevmystic (Surya) <thedevmystic@gmail.com>
# @copyright 2026-present Suryansh Singh Apache-2.0 License
#
# SPDX-FileCopyrightText: 2026-present Suryansh Singh
# SPDX-License-Identifier: Apache-2.0
# -----------------------------------------------------------------------------

repos:
  # Standard Hooks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-added-large-files
      - id: check-ast
      - id: check-case-conflict
      - id: check-docstring-first
      - id: check-merge-conflict
      - id: check-symlinks
      - id: check-xml
      - id: check-yaml
        args: ["--allow-multiple-documents"]
      - id: check-json
      - id: debug-statements
      - id: end-of-file-fixer
        exclude_types: [svg]
      - id: mixed-line-ending
      - id: trailing-whitespace
      - id: fix-byte-order-marker

  # Python Hooks
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff
        args: [
          "--fix",
          "--target-version=py312",
          "--line-length=100",
          "--select=UP,D,E,W",
          "--ignore=D100,D101,D102,D103,D104,D105,D106,D107,D203,D212,D404,E501",
          "--pydocstyle-convention=google"
        ]

      - id: ruff-format
        args: ["--line-length=100"]

  # C++ Hooks
  - repo: https://github.com/pre-commit/mirrors-clang-format
    rev: v21.1.8
    hooks:
      - id: clang-format
        args: ["-fallback-style=none", "-i"]

  - repo: https://github.com/pocc/pre-commit-hooks
    rev: v1.3.5
    hooks:
      - id: cppcheck
        args: ["--enable=all", "--suppress=missingIncludeSystem"]

  - repo: https://github.com/cpplint/cpplint
    rev: 2.0.2
    hooks:
      - id: cpplint
        args: [
          "--linelength=100",
          "--filter=-whitespace/newline"
        ]

  # CMake Hooks
  - repo: https://github.com/cheshirekow/cmake-format-precommit
    rev: v0.6.13
    hooks:
      - id: cmake-format
      - id: cmake-lint

  # Copyright Checker Hooks
  - repo: https://github.com/espressif/check-copyright
    rev: v1.1.1
    hooks:
      - id: check-copyright

  # CI/CD Hooks
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.36.1
    hooks:
      - id: check-github-workflows
        args: ["--verbose"]
      - id: check-github-actions
        args: ["--verbose"]
      - id: check-dependabot
        args: ["--verbose"]

  # Spellchecker Hooks
  - repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
      - id: codespell
        args: ["--write-changes"]
